
.seller-name {
  color: grey;
}

.product-image {
  height: 100%;
  width: 100%;

}

.product-details {
  padding-top: 30px;
}

.seller-link {
  color: grey;
  text-decoration: none;

}
 .seller-link:hover {
    text-decoration: none;
    color: darkgrey;
  }
.fa-star {
  color: #FFC300;
}
