.profile-pic {
  width: 250px;
  height: 250px;
}

.user-container {
  padding-top: 30px;
}

.user-details {
  height: 500px;
  padding-bottom: 15px;
}

.user-map {
  height: 100%;
  padding: 5px 5px;
  background-color: white;
}

.user-info {
  padding-bottom: 55px;
}


.user-info .nav-link {
  text-align: end;
  text-decoration: none;
  color: lightgrey;
}

.user-info .nav-link:hover {
  text-decoration: none;
  color: darkgrey;
}

.user-properties {
  height: auto;
  background-color: white;
  margin-top: 5px;
  border-top: solid;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  padding-top: 30px;
}
.add-product {
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.user-products {
  margin: auto;

}

.products-cards {
  border: solid;
  border-radius: 5px;
  padding: 10px 10px;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  height: 150px;
}

.product-image-user-show {
  object-fit: contain;
  height: 100%;
}

.product-card-photo {
  text-align: center;
}

