
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin:8px;

}
.cards a {
  text-decoration: none;
}

.card-trip{

  border-radius:4px;
  width:240px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  margin: auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-trip-img {
border-radius: 4px 4px 0px 0px;
}

.avatar-bordered {
  position:relative;
  bottom:112px;
  left:184px;
}

.empty{
  background-color: black;
}

.card-trip-infos{
 background-color:#F2EFC7;
 border-radius: 0px 0px 4px 4px;
}

.card-trip-infos  h2 {
  font-size:16px;
}


.card-trip-infos p {
  font-size:12px;
}

