.product-show-container{
background-color:transparent!important;
}

.product-info {
  background-color:white;
  border-radius:4px;
  box-shadow: 2px 2px 3pc rgba(0,0,0,0.3)
}

.product-img img{
  box-shadow: 2px 2px 3pc rgba(0,0,0,0.3)

}
